<!--Create an edit form-->

<% include ../partials/header %>

<div class = "ui grid container">
    <div class = "ui two column centered grid">
              <h1>Edit <%=campground.name %></h1>
                <div class = "column">
                    <form id = "campground" class = "ui large form" action = "/campground/<%= campground._id %>?_method=PUT" method = "POST">
                <div class="required field">
                    <label>Name of campground</label>
                    <input type="text" name="infoItem" value = "<%= campground.name %>">
                </div>
                <div class = "required field">
                    <label>Image Url</label>
                    <input type="text" name = "imageUrl" value = "<%= campground.image %>">
                </div>
                <div class = "field">
                    <label>Describe the campground</label>
                    <textarea name = "description">
                        <%= campground.description%>
                    </textarea>
                </div>
                <div class = "ui two column centered grid">
                    <div class = "eight column centered row">
                        <button class="ui teal button" type="submit">Submit</button>
               </div>
               </div>
             </form>
         </div>
    </div>
</div>



