<% include ../partials/header %>

<div id = 'container' class = "ui container">
  <% if(campground.length === 0) {%>
<h1 class = "ui header">Hey. There are no camps listed at the moment!</h1> 
<% } else { %>
  <h1 class = "ui header">See camps listed on Social camp!</h1>
  <% } %>
<div class="ui three column grid">
    <% campground.forEach(function(campg){ %>
  <div class="column">
    <div class="ui fluid card">
      <div class="list image">
        <img src="<%= campg.image %>">
        <i class="heart icon"></i>
      </div>
      <div class="content">
        <a class="header"><%= campg.name %></a>
      </div>
      <div class = "extra content">
          <div class = "ui teal button">
              <a href = "/campground/<%= campg._id %>">More Info</a>
          </div>
      </div>
    </div>
  </div>
  <% }) %>
 </div> 
 <div class = "ui hidden divider"></div>
 <div class = "ui two column centered grid">
     <div class = "eight column centered row">
     <% if(pages && pages> 0) { %>
     <div class = "ui pagination menu">
        <% if (current == 1) { %>
        <a class = "item">First</a>
        <% } else { %>
        <a class = "item" href="/campground<%if(search){%> ?search= <%=search%><% } %>">First</a>
        <% } %>
     
     <% if(current == 1) {%>
     <a class = "item">«</a>
     <% } else { %>
     <a class = "item" href="/campground?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><% } %>">«</a>
     <% } %>
     <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
     <% if (i !== 1) { %>
     <a class = "item">...</a>
     <% } %>
     <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
     <% if (i == current) { %>
     <a class = "item"><%= i %></a>
     <% } else {%>
     <a class = "item" href="/campground?page=<%= i %><%if(search){%>&search=<%=search%><% }%>"><%= i %></a>
     <% } %>
     <% if (i == Number(current) + 4 && i < pages) {%>
     <a class = "disabled item">...</a>
     <% } %>
     <% } %>
     
     <% if (current == pages) { %>
     <a class = "disabled item">»</a>
     <% } else { %>
     <a class = "item" href="/campground?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><% } %>">»</a>
     <% } %>
     
     <% if (current == pages) { %>
     <a class = "item">Last</a>
     <% } else { %>
     <a class = "item" href="/campground?page=<%= pages %><%if(search){%>&search=<%=search%><% }%>">Last</a>
     <% } %>
   <% } %>
 </div>
  </div>
  </div>
 
 <div class = "ui divider"></div>
 
</div>

<% include ../partials/footer%>





